@media only screen and (min-width: 1350px) {
  #menu .wrap .wrap-box {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1200px) {
  #intro .box-content {
    flex-wrap: wrap;
  }
  #intro img{
    margin-right: 0;
  }
  #intro .content{
    margin-left: 0;
  }
  #branch .locate-dt{
    font-size: 20px;
  }
  #branch .locate-name {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  #menu .wrap .wrap-box .box-item {
    background: #000000;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 50px;
    width: 338px;
    flex: 0 0 auto;
    height: 506px;
  }
  #menu .food-name {
    font-size: 25px;
  }
  #menu .food-dt{
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  #branch .box-content {
    flex-direction: column;
    justify-content: center;
  }
  .divider-vtc {
    display: none;
  }
  #branch .locate-tooltip {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #menu .wrap .wrap-box .box-item {
    background: #000000;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 50px;
    width: 263px;
    flex: 0 0 auto;
    height: 393px;
  }
  #menu .wrap {
    height: 600px;
  }
  .locate-tooltip .locate-tt-dt{
    font-size: 16px;
  }
  #branch .locate-tooltip .locate-tt-name{
    font-size: 24px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 700px) {
  .footer-tt{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .footer-dt{
    font-size: 16px;
    line-height: 30px;
  }
  .ico-ct{
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .ico-ct i{
    font-size: 20px;;
  }
  .order-form .title {

    font-size: 30px;
 
  }
  .btn-css {
    font-size: 20px;
    margin: 0 auto;
    width: 150px;
    height: 50px;
   
  }
}
